/* Custom style */

/* Colors
green        #35AA4E
light green  #3FD03F
dark green   #2B8A31

blue         #4180C7
light blue   #68A2E3
medium blue  #0C62C2

orange       #FD880B
dark orange  #D86601

yellow       #ECDF13
dark yellow  #D8CB01

white        #FFFFFF
light gray   #D2D2D2
medium gray  #A0A0A0
dark gray    #414141
gray noise   #F1F1F1

black        #000000
green-border #78DC8D
blue-border  #68A2E3
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

body {
  font-family: 'Merriweather', Georgia, Times, "Times New Roman", serif;
  background-color: #D2D2D2;
}

p {
  font-size: 1.2rem;
}

h1, h2, h3, h4,
.button {
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 600;
  font-style: normal;
}

a {
  color: #4180C7;
}

a:hover, a:visited {
  color: #0C62C2;
}

a.button {
  color: white;
  text-transform: uppercase;
  background-color: #4180C7;
}

a.button:hover {
  background-color: #0C62C2;
}

a.button.orange,
a.button.orange:hover {
  background-color: #D86601;
}

header {
  background: url(/img/funfunfun.jpg) top left;
  background-size: cover;
}

header h1,
header h1 a {
  color: white!important;
}

.row.with-panel {
  padding-top: 1.25rem;
}

.days {
  background: white;
  color: #414141;
  padding: 1.5em 0;
}

.days h2 {
  color: #414141;
}

.days h3 {
  color: #35AA4E;
}

.days.alt {
  background: #F8FFF2;
}

.days.alt hr {
  border-color: #A0A0A0;
}

.panel {
  background: rgba(245,245,245,.8);
}

.panel,
.panel.callout {
  border: none;
}

.recommends {
  background: url(/img/stevie.jpg);
  background-size: cover;
  padding: 1em;
}

.recommends h2 {
  color: white;
  padding-left: 15px;
}

/* Mailing list page */

.mailing-list main {
  background-color: #FD880B;
}

/* Footer */

footer {
  background: #D2D2D2;
  padding: 20px;
  margin: 0 auto;
  color: #414141;
  border-top: 3px #414141 solid;
}

footer p {
  font-size: .9rem;
  text-align: center;
}
