/* Custom style */

/* Colors
green        #35AA4E
light green  #3FD03F
dark green   #2B8A31

blue         #4180C7
light blue   #68A2E3
medium blue  #0C62C2

orange       #FD880B
dark orange  #D86601

yellow       #ECDF13
dark yellow  #D8CB01

white        #FFFFFF
light gray   #D2D2D2
medium gray  #A0A0A0
dark gray    #414141
gray noise   #F1F1F1

black        #000000
green-border #78DC8D
blue-border  #68A2E3
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

body {
  font-family: 'Merriweather', Georgia, Times, "Times New Roman", serif;
}

p {
  font-size: 1.2rem;
}

h1, h2, h3, h4,
.button {
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 600;
  font-style: normal;
}

a.button {
  color: white;
  text-transform: uppercase;
  background-color: #0C62C2;
}

a.button:hover {
  background-color: #3067a5;
}

.header {
  background: url(img/funfunfun.jpg) repeat;
}

.header h1 {
  color: white;
}

.days {
  background: #302030;
  color: white;
  padding: 1.5em 0;
}

.days h2 {
  color: white;
}

.days h3 {
  color: white;
}

.days.alt {
  background: #52A964;
  color: white;
}

.days.alt h2 {
  color: white;
}

.days.alt h3 {
  color: white;
}

.days.alt p a {
  color: #0C62C2;
}

.days.alt p a:hover {
  color: #3067a5;
}

.panel,
.panel.callout {
  border: none;
}

.recommends {
  background: url(img/stevie.jpg);
  padding: 1em;
}

.recommends h2 {
  color: white;
  padding-left: 15px;
}

footer {
  background: #2C4448;
  padding: 20px;
  margin: 0 auto;
  color: white;
}

footer p {
  font-size: .9rem;
  text-align: center;
}
