/* Custom style */

.header {
  background: url(img/funfunfun.jpg) repeat;
}

.header h1 {
  color: white;
}

.days {
  background: #302030;
  color: white;
  padding: 20px;
  }

.days h2 {
  color: white;
}

.days h3 {
  color: white;
}

.days-alt {
  background: #52A964;
  color: white;
  padding: 20px;
}

.days-alt h2 {
  color: white;
}

.days-alt h3 {
  color: white;
}

.days-alt a {
  color: #0b62c2;
}

.days-alt a:hover {
  color: #0b6b8b;
}

.days-alt a.medium.button {
  color: white;
} 

.recommends {
  background: url(img/stevie.jpg);
  padding: 10px;
}

.recommends h2 {
  color: white;
  padding-left: 15px;
}

h1 a {
  color: white;
}

h1 a:hover {
  color: white;
}

footer {
  background: #2C4448;
  padding: 20px;
  margin: 0 auto;
  color: white;
}

footer p {
  font-size: 12px;
  text-align: center;
}