<!doctype html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body class="{{ page.bodyclass }}">
    
    {{ content }}

    <footer>
      <div class="row">
        <div class="large-12 columns">
          <p>#DaysOf4K</p>
          <p>Built with &#10084; by <a href="http://fourkitchens.com">Four Kitchens</a> in Austin, TX.</p>
          <p>Photo credits: Franklin BBQ, <a href="https://www.flickr.com/photos/wallyg">wallyg</a> on Flickr, <a href="http://www.flickr.com/photos/austins_only_paper/">That Other Paper</a>.</p>
      </div>
    </footer>
      
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  
  </body>
</html>
